alertlogic-sdk-python>=1.0.27
jmespath==0.9.4
certifi==2019.11.28
chardet==3.0.4
configparser==4.0.2
idna==2.8
PyYAML==5.1.2
requests==2.22.0
urllib3==1.25.8
cx_Freeze==6.1
setuptools>=42
wheel
setuptools_scm[toml]>=3.4